.page {
  padding: var(--spacing-md) 0 0;
}

.page__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 12px;
}

@media (min-width: 576px) {
  .page__grid {
    gap: var(--spacing-2xl) var(--spacing-md);
  }
}

@media (min-width: 768px) {
  .page {
    padding: var(--spacing-2xl) 0 var(--spacing-4xl);
  }
  .page__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .page__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-3xl) var(--spacing-lg);
  }
}

@media (min-width: 1280px) {
  .page__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
