.section {
  margin-bottom: var(--spacing-4xl);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-md);
}

@media (min-width: 640px) {
  .section__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .section__grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
